body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
}

a {
    font-size: x-large;
    color: whitesmoke;
}

p {
    font-family: verdana;
    font-size: 25px;
    color: whitesmoke;
}

img {
    width: 65%;
    height: 65%;
    margin-right: -10%;
}

#block {
    padding-top: 5%;
    padding-left: 5%;
}