body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

a {
    background-color: aqua;
    font-size: medium;
}

p {
    font-family: verdana;
    font-size: 20px;
}

img {
    align-self: center;
}